<% include partials/header %>

<div class="form-setup">
    <form action="/login" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="username">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="password" id="password">
      <input type="submit" value="Submit">
    </form>
  </div>

<% include partials/footer %>