<% include partials/header %>

<div class="form-setup">
  <form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-input">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-input">
    <input type="submit" value="Submit" id="form-submit">
  </form>
</div>

<% include partials/footer %>