<% include partials/header %>

<div class="form-setup">
  <form action="/gallery" method="POST" enctype="multipart/form-data">
    <label for="image">Image</label>
    <input type="file" name="image" placeholder="Image" accept="image/*"  required>
    <label for="name">Name</label>
    <input type="text" name="gram[name]" placeholder="Name" id="img-input" required><br>
    <label for="description">Description</label>
    <input type="text" name="gram[description]" placeholder="Description" required><br>
    <input type="submit" value="Submit">
  </form>
</div>

<div class="img-box">
  <img src="" alt="" width="300" height="300" class="img-result">
</div>


<% include partials/footer %>