@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Raleway:300,400,500');

:root {
  --spaceGray: #232b2b;
  --lightGray: #cccccc;
  --smoothGold: goldenrod;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--spaceGray);
  color: var(--lightGray);
  font-family: 'Lato';
}

h1 {
  color: var(--smoothGold);
  text-align: center;
}

.form-setup {
  margin: 0 auto;
  text-align: center;
  padding: 60px 30px;
  border: 2px solid var(--lightGray);
  width: 300px;
  height: 300px;
}

label {
  color: var(--smoothGold);
}

a {
  color: var(--lightGray);
  text-decoration: none;
  border: 1px solid var(--smoothGold);
  padding: 10px;
  transition: background-color .5s ease;
}

a:hover {
  background: var(--smoothGold);
  color: var(--spaceGray);
}

